.App {
  text-align: center;
}
.background {
  background-color: #CC6B2F;
  color: black;
}
.title{
  text-align: center;
  background-color: #CC6B2F;
  
}
body {
  background-color: #CC6B2F;
}
.home {
  height: 100vh;
}
.header {
  text-align: center;
  color: #CC6B2F;
  background-image: url(https://cdn.hovia.com/app/uploads/Jungle-Animals-Wallpaper-Mural-Plain.jpg);
  padding: 2.0em;
}
.footer {
  padding-top: 0.75em;
  padding: 1.5em;
  text-align: center;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: #2DA870;
}

