.App {
  text-align: center;
}
.background {
  background-color: #CC6B2F;
  color: black;
  height: 100vh
}
.title{
  text-align: center;
  background-color: #CC6B2F;
  
}
.body {
  background-color: #CC6B2F;
  height: 100vh
}
.home {
  height: 100vh;
}
.align {
  text-align: center
}
.header {
  text-align: center;
  color: #CC6B2F;
  background-image: url(https://cdn.hovia.com/app/uploads/Jungle-Animals-Wallpaper-Mural-Plain.jpg);
  padding: 2.0em;
}
.footer {
  font-size: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  color: #2DA870;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

